    <div id="bg-footer">

        <div id="col-Wrapper">
            <div id="aboutUs">
                <h4>About</h4>
                <a href="#">
                    <ul>
                        <li>How Airbnb works</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Newsroom</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Airbnb Plus</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Airbnb Luxe</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Hotel Tonight</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Airbnb for Work</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Olympics</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Careers</li>
                    </ul>
                </a>
            </div>
            <div id="community">
                <h4>connect with us</h4>
                <a href="#">
                    <ul>
                        <li>Diversity & Belonging</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Accessibility</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Airbnb Associates</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Frontline Stays</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Invite friends</li>
                    </ul>
                </a>
            </div>
            <div id="host">
                <h4>host</h4>
                <a href="#">
                    <ul>
                        <li>Host your home</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Host an Online Experience</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Message from CEO Brian Chesky</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Responsible hosting</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Open Homes</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Resource Centre</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Community Centre</li>
                    </ul>
                </a>

            </div>
            <div id="support">
                <h4>support</h4>
                <a href="#">
                    <ul>
                        <li>Updates for COVID-19</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Help Centre</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Cancellation options</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Neighbourhood Support</li>
                    </ul>
                </a>
                <a href="#">
                    <ul>
                        <li>Trust & Safety</li>
                    </ul>
                </a>
            </div>
        </div>

        <div id="finalLine-footer">
            <div id="left">
                <ul id="copywrite">
                    <li>&copy;2020 Airbnb, Inc. All rights reserved.</li>
                </ul>
                <a href="#" class="othersUl">
                    <ul>
                        <li>Privacy</li>
                    </ul>
                </a>
                <a href="#" class="othersUl">
                    <ul>
                        <li>Terms</li>
                    </ul>
                </a>
                <a href="#" class="othersUl">
                    <ul>
                        <li>Sitemap</li>
                    </ul>
                </a>
            </div>


            <div id="right">
                <div id="currency-language">
                    <ul id="english">
                        <li><i class="fas fa-globe"></i>English (CA)</li>
                    </ul>
                    <ul>
                        <li><i class="fas fa-dollar-sign"></i>CAD</li>
                    </ul>
                </div>

                <div id="socialIcon">
                    <a href="https://www.facebook.com/">
                        <ul>
                            <li><i class="fab fa-facebook-f"></i></li>
                        </ul>
                    </a>
                    <a href="https://twitter.com/">
                        <ul>
                            <li><i class="fab fa-twitter"></i></li>
                        </ul>
                    </a>
                    <a href="https://www.instagram.com/">
                        <ul>
                            <li><i class="fab fa-instagram"></i></li>
                        </ul>
                    </a>

                </div>
            </div>
        </div>
    </div>