{{>head}}

<body>
    {{>header}}

    {{!-- Small navigation tabs --}}
    <div class="bookingConfirmed">
        <div class="bookingWrapper">
            <div class="confirmTitle">
                <p>Booking Confirmed</p>
            </div>
            <p>We are pleased to inform you that your reservation request has been received and confirmed</p>
            <p>Your booking is confirmed. Thank you</p>
            <p>Booking Details</p>
            <div class="booking-details-wrapper">
                <div class="booking-detail">
                    <p>Booking</p>
                    <p>1001</p>
                </div>
                
                <div class="booking-detail">
                    <p>Check-in</p>
                    <p>September 26, 2019</p>
                </div>
                
                <div class="booking-detail">
                    <p>Check-out</p>
                    <p>September 27, 2019</p>
                </div>
                
                <div class="booking-detail">
                    <p>Total</p>
                    <p>$129</p>
                </div>
                
                <div class="booking-detail">
                    <p>Status</p>
                    <p>Confirmed</p>
                </div>

            </div>
        </div>
    </div>

    {{>footer}}
</body>